{% extends "base.html" %}


{% block content %}
<!-- All Reviews Start -->
<section class="allreviews d-flex justify-content-center align-items-center dbneats-background min-vh-100">
    <div class="container ">
        <div class="col-md-8 mx-auto">
            <h2 class="text-dark text-center fw-bold">All reviews for {{ restaurant.name }}</h2>
        </div>
        <div class="row justify-content-center">
            {% if reviews %}
            {% for review in reviews %}
            
            <div class="col-md-8 ">
                <div class="card shadow p-2  bg-body-tertiary rounded ">
                    
                        <div class="row">
                            
                            <div class="col justify-content-end">
                                <div class=" flex-column">
                                    <p class="text-end">{{ review.created_on }}</p>
                                    <p class="text-end"><span class="fw-bold">Review by:
                                        </span>
                                        <a href="{% url 'profile' review.user.username %}"
                                        aria-label="{{review.user.profile.user.username }} Profile Page"
                                        class="text-dark">{{ review.user.username }}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 justify-content-center">
                                <p><span class="fw-bold">Taste: </span>{{ review.taste }}/5 stars</p>
                                <p><span class="fw-bold">Ambience: </span>{{ review.ambience }}/5 stars</p>
                                <p><span class="fw-bold">Location: </span>{{ review.location }}/5 stars</p>
                                <p><span class="fw-bold">Customer Service: </span>{{ review.customer_service }}/5 stars</p>
                                <p><span class="fw-bold">Value For Money: </span>{{ review.value_for_money }}/5 stars</p>
                                <p><span class="fw-bold">Comment: </span>{{ review.comment_text }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 my-2 d-flex flex-wrap">
                                {% if user.is_authenticated and user == review.user %}
                                <a class="btn btn-primary button-dbneats"
                                    href="{% url 'edit_review'  review.restaurant.RestaurantId review.id %}">Edit
                                    <i class="bi bi-pencil"></i></a>
                                {% endif %}
                                
                            </div>
                        </div>
                </div>
            </div>
           
            {% endfor %}
            {% else %}
            <p>No reviews found.</p>
            {% endif %}
        </div>
    </div>
</section>


{% endblock %}