{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="d-flex justify-content-center align-items-center dbneats-background">
    <form method="POST" class="reviewform text-center" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Rating Form -->
        <div class="card shadow p-2  bg-body-tertiary rounded mb-3">
            <div class="card-body">
                <h2 class="card-title form-heading fw-bold">{{ restaurant.name }}</h2>
                <p> Rate each criteria out of 5 stars!</p>
                <!-- Taste Rating -->
                <div class="rating taste">{{rating_form.taste}}
                    <!-- Taste Rating -->
                    <h4 class="text-light">Taste</h4>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="first"></i></a>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="second"></i></a>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="third"></i></a>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="fourth"></i></a>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="fifth"></i></a>
                </div>
                <div class="rating ambience">{{rating_form.ambience}}
                    <!-- Taste Rating -->
                    <h4 class="text-light">Ambience</h4>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="first"></i></a>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="second"></i></a>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="third"></i></a>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="fourth"></i></a>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="fifth"></i></a>
                </div>
                <div class="rating customer_service">{{rating_form.customer_service}}
                    <!-- Taste Rating -->
                    <h4 class="text-light">Customer Service</h4>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="first"></i></a>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="second"></i></a>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="third"></i></a>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="fourth"></i></a>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="fifth"></i></a>
                </div>
                <div class="rating location">{{rating_form.location}}
                    <!-- Taste Rating -->
                    <h4 class="text-light">Location</h4>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="first"></i></a>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="second"></i></a>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="third"></i></a>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="fourth"></i></a>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="fifth"></i></a>
                </div>
                <div class="rating value_for_money">{{rating_form.value_for_money}}
                    <!-- Taste Rating -->
                    <h4 class="text-light">Value for Money</h4>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="first"></i></a>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="second"></i></a>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="third"></i></a>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="fourth"></i></a>
                    <a type="button" class="btn"><i class="bi bi-star-fill" id="fifth"></i></a>

                </div>
            </div>

            <!-- Comment Form -->

            <div class="card-body">
                <h5 class="card-title">Leave a Review!</h5>
                <div class="form-group">
                    {{ rating_form.comment_text }}
                </div>
            </div>
            <div>
                {% if user_reviewed == True %}
                <button type="submit" class="btn btn-primary main-button">Update</button>
                <button type="button" class="btn btn-outline-info remove-button" data-bs-toggle="modal"
                    data-bs-target="#deleteProfileModal">
                    Delete
                </button>
                <!-- <a type="button" href="{% url 'allreviews' restaurant.RestaurantId %}" class="btn btn-primary">Exit</a> -->
                <button type="button" class="btn btn-outline-info button-dbneats" data-bs-toggle="modal"
                    data-bs-target="#exitProfileModal"> Exit </button>
                {% else %}
                <button type="submit" class="btn btn-primary button-dbneats">Submit</button>

                <button type="button" class="btn btn-outline-info button-dbneats" data-bs-toggle="modal"
                    data-bs-target="#exitReviewModal"> Exit </button>
                {% endif %}
            </div>
        </div>

        <!-- Submit Button -->


    </form>
    {% block extra_js %}
    <!-- Customizible JS -->
    <script src="{% static 'js/rate.js' %}"></script>
    {% endblock extra_js %}

</section>
<section class="d-flex justify-content-center align-items-center dbneats-background">
    <div class="container">
        <div class="modal fade" id="deleteProfileModal" tabindex="-1" aria-labelledby="deleteProfileModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    {% if user.is_authenticated and user == review.user %}
                    <form method="POST" class="reviewform text-center"
                        action="{% url 'delete_review' review.restaurant.RestaurantId review.id %}" role="form">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h2 class="modal-title fw-bold form-heading text-center" id="deleteProfileModalLabel">
                                Delete Review
                            </h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="fw-bold"><i><span>{{ review.user }}</span> Are you sure you want to delete your
                                    review and
                                    ratings?</i></p>
                            <p>Once deleted, you will not be able to recover your review.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" name="action" value="delete"
                                class="btn btn-primary remove-button">Delete</button>

                        </div>
                    </form>
                    {% else %}
                    <div class="modal-body text-center">
                        <h3>You are not authorized to delete this review.</h3>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="d-flex justify-content-center align-items-center dbneats-background">
    <div class="container">
        <div class="modal fade" id="exitProfileModal" tabindex="-1" aria-labelledby="exitProfileModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">


                    <div class="modal-header">
                        <h2 class="modal-title fw-bold form-heading text-center" id="exitProfileModalLabel">
                            Exit
                        </h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="fw-bold"><i><span>{{ user.username }}</span> Are you sure you want to exit?</i></p>
                        <p>Any changes made will not be saved.</p>
                    </div>
                    <div class="modal-footer">
                        <a type="button" href="{% url 'profile' user.username %}" class="btn btn-primary button-dbneats">Exit</a>

                    </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="d-flex justify-content-center align-items-center dbneats-background">
    <div class="container">
        <div class="modal fade" id="exitReviewModal" tabindex="-1" aria-labelledby="exitReviewModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header">
                        <h2 class="modal-title fw-bold form-heading text-center" id="exitReviewModalLabel">
                            Exit Review
                        </h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="fw-bold"><i><span>{{ user.username }}</span> Are you sure you want to exit?</i></p>
                        <p>Any changes made will not be saved.</p>
                    </div>
                    {% url restaurant.category as category_url %}
                    {% if category_url %}
                    <a type="button" href="{{ category_url }}" class="btn btn-primary button-dbneats">Exit</a>
                    {% else %}
                    <a type="button" href="{% url 'dublineats-home' %}" class="btn btn-primary button-dbneats">Exit</a>
                    {% endif %}


                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}