{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Review page that contains the review form -->
<section class="d-flex justify-content-center align-items-center dbneats-background">
    <div class="container">
        <div class="col-lg-4 col-md-8 mx-auto">
            <form method="POST" class=" reviewform text-center" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Rating Form -->
                <div class="card shadow p-1 bg-body-tertiary rounded mb-3">
                    <div class="card-body">
                        <h1 class="card-title  fw-bold">{{ restaurant.name }}</h1>
                        <p> Rate each criteria out of 5 stars!</p>

                        <div class="rating taste">{{rating_form.taste}}

                            <h4 class="text-light">Taste</h4>
                            <a class="btn"><i class="bi bi-star-fill" id="taste-first"></i></a>
                            <a class="btn"><i class="bi bi-star-fill" id="taste-second"></i></a>
                            <a class="btn"><i class="bi bi-star-fill" id="taste-third"></i></a>
                            <a class="btn"><i class="bi bi-star-fill" id="taste-fourth"></i></a>
                            <a class="btn"><i class="bi bi-star-fill" id="taste-fifth"></i></a>
                        </div>
                        <div class="rating ambience">{{rating_form.ambience}}

                            <h4 class="text-light">Ambience</h4>
                            <a class="btn"><i class="bi bi-star-fill" id="ambience-first"></i></a>
                            <a class="btn"><i class="bi bi-star-fill" id="ambience-second"></i></a>
                            <a class="btn"><i class="bi bi-star-fill" id="ambience-third"></i></a>
                            <a class="btn"><i class="bi bi-star-fill" id="ambience-fourth"></i></a>
                            <a class="btn"><i class="bi bi-star-fill" id="ambience-fifth"></i></a>
                        </div>
                        <div class="rating customer_service">{{rating_form.customer_service}}

                            <h4 class="text-light">Customer Service</h4>
                            <a class="btn"><i class="bi bi-star-fill" id="customer_service-first"></i></a>
                            <a class="btn"><i class="bi bi-star-fill" id="customer_service-second"></i></a>
                            <a class="btn"><i class="bi bi-star-fill" id="customer_service-third"></i></a>
                            <a class="btn"><i class="bi bi-star-fill" id="customer_service-fourth"></i></a>
                            <a class="btn"><i class="bi bi-star-fill" id="customer_service-fifth"></i></a>
                        </div>
                        <div class="rating location">{{rating_form.location}}

                            <h4 class="text-light">Location</h4>
                            <a class="btn"><i class="bi bi-star-fill" id="location-first"></i></a>
                            <a class="btn"><i class="bi bi-star-fill" id="location-second"></i></a>
                            <a class="btn"><i class="bi bi-star-fill" id="location-third"></i></a>
                            <a class="btn"><i class="bi bi-star-fill" id="location-fourth"></i></a>
                            <a class="btn"><i class="bi bi-star-fill" id="location-fifth"></i></a>
                        </div>
                        <div class="rating value_for_money">{{rating_form.value_for_money}}

                            <h4 class="text-light">Value for Money</h4>
                            <a class="btn"><i class="bi bi-star-fill" id="value_for_money-first"></i></a>
                            <a class="btn"><i class="bi bi-star-fill" id="value_for_money-second"></i></a>
                            <a class="btn"><i class="bi bi-star-fill" id="value_for_money-third"></i></a>
                            <a class="btn"><i class="bi bi-star-fill" id="value_for_money-fourth"></i></a>
                            <a class="btn"><i class="bi bi-star-fill" id="value_for_money-fifth"></i></a>

                        </div>

                    </div>

                    <!-- Comment Box -->

                    <div class="card-body">
                        <h5 class="card-title">Leave a Review!</h5>
                        <div class="form-group ">
                            <label for="id_comment_text" class="visually-hidden">Review:</label>
                            {{ rating_form.comment_text   }}

                        </div>
                        <small class="form-text text-muted">{{ rating_form.comment_text.help_text }}</small>
                    </div>
                    <div>
                        {% if user_reviewed == True %}
                        {% if review.user == user %}
                        <button type="submit" class="btn btn-primary main-button">Update <i
                                class="bi bi-arrow-clockwise"></i></button>
                        {% endif %}
                        <button type="button" class="btn btn-outline-info remove-button" data-bs-toggle="modal"
                            data-bs-target="#deleteProfileModal">
                            Delete <i class="bi bi-trash3"></i>
                        </button>
                        
                        <button type="button" class="btn btn-outline-info button-dbneats" data-bs-toggle="modal"
                            data-bs-target="#exitProfileModal"> Exit <i class="bi bi-escape"></i></button>
                        {% else %}
                        <button type="submit" class="btn btn-primary button-dbneats">Submit</button>

                        <button type="button" class="btn btn-outline-info button-dbneats" data-bs-toggle="modal"
                            data-bs-target="#exitReviewModal"> Exit <i class="bi bi-escape"></i></button>
                        {% endif %}
                    </div>
                </div>

            </form>
        </div>
    </div>
    {% block extra_js %}
    <!-- Customizible JS that handles star ratings -->
    <script src="{% static 'js/rate.js' %}"></script>
    {% endblock extra_js %}

</section>
{% if user_reviewed == True %}
<!--Delete popup modal-->
<section class="d-flex justify-content-center align-items-center dbneats-background">
    <div class="container">
        <div class="modal fade" id="deleteProfileModal" tabindex="-1" aria-labelledby="deleteProfileModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content dbneats-background">
                    {% if review.user or user.is_superuser %}
                    <form method="POST" class=" text-center"
                        action="{% url 'delete_review' review.restaurant.RestaurantId review.id %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h2 class="modal-title fw-bold form-heading text-center" id="deleteProfileModalLabel">
                                <img src="https://res.cloudinary.com/dif9bjzee/image/upload/v1691932128/logoimage_sriezb.webp"
                                class="auth-image" alt="message logo">  Delete Review
                            </h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="fw-bold"><i>
                                    {% if user.is_superuser and user != review.user %}
                                    <span>{{ request.user }}</span> Are you sure you want to delete {{ review.user}}'s
                                    review and ratings?
                                    {% else %}
                                    <span>{{ review.user }}</span> Are you sure you want to delete your review and
                                    ratings?
                                    {% endif %}
                                </i></p>
                            <p>Once deleted, you will not be able to recover your review.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" name="action" value="delete"
                                class="btn btn-primary remove-button">Delete <i class="bi bi-trash3"></i></button>

                        </div>
                    </form>
                    {% else %}
                    <div class="modal-body text-center">
                        <h3>You are not authorized to delete this review.</h3>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
<!--Exit popup modal when user wants to edit review-->
<section class="d-flex justify-content-center align-items-center ">
    <div class="container">
        <div class="modal fade" id="exitProfileModal" tabindex="-1" aria-labelledby="exitProfileModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h2 class="modal-title fw-bold form-heading text-center" id="exitProfileModalLabel">
                            <img src="https://res.cloudinary.com/dif9bjzee/image/upload/v1691932128/logoimage_sriezb.webp"
                                class="auth-image" alt="message logo"> Exit
                        </h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <p class="fw-bold"><i><span>{{ user.username }}</span> Are you sure you want to exit?</i></p>
                        <p>Any changes made will not be saved.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'allreviews' restaurant.RestaurantId  %}" class="btn btn-primary button-dbneats"
                            aria-label="Exit review">Exit <i class="bi bi-escape"></i></a>

                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!--Exit pop up modal of review form-->
<section class="d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="modal fade" id="exitReviewModal" tabindex="-1" aria-labelledby="exitReviewModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header ">
                        <h2 class="modal-title fw-bold form-heading text-center" id="exitReviewModalLabel">
                            <img src="https://res.cloudinary.com/dif9bjzee/image/upload/v1691932128/logoimage_sriezb.webp"
                                class="auth-image" alt="message logo"> Exit Review
                        </h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <p class="fw-bold"><i><span>{{ user.username }}</span> Are you sure you want to exit?</i></p>
                        <p>Any changes made will not be saved.</p>
                    </div>
                    <div class="modal-footer">
                        {% url restaurant.category as category_url %}
                        {% if category_url %}
                        <a href="{{ category_url }}" class="btn btn-primary button-dbneats">Exit <i class="bi bi-escape"
                                aria-label="Exit review"></i></a>
                        
                        {% endif %} 
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}