{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="home-page">
    <div class="container-fluid p-0">
        <div class="row ">
            <div class="col" >
                <img src="https://res.cloudinary.com/dif9bjzee/image/upload/v1691274239/food-logo_r68kim.webp"
                    class="img-fluid w-100 vh-100 hero-image"  alt="DublinEats Hero Image">
                <div class=" start-50 translate-middle search-container" >
                    <p>Discover Dublin's Culinary Options.</p>
                    <p>Start your search here!</p>
                    <form class="d-flex" action="{% url 'search'   %}" method="GET">
                        <input class="form-control me-2" type="search" placeholder="What are you craving for?" aria-label="Search" name="query" id="query"
                        value="{{ request.GET.query }}" onfocus="onFocus()" onfocusout="onFocusOut()" pattern="^(?!\s*$)[a-zA-Z ]*$" 
                        title="Please enter a valid search query" required >
                        <button class="btn btn-outline-success main-button" id="searchbtn" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Search" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% block extra_js %}
    <!-- Customizible JS -->
    <script src="{% static 'js/blur.js' %}"></script>
    {% endblock extra_js %}
</section>
{% endblock content %}