{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Home Page-->
<div class="home-page">
    <div class="container-fluid p-0">
        <div class="row ">
            <div class="col" >
                <div>
                <!--Background image for home page-->
                <img src="https://res.cloudinary.com/dif9bjzee/image/upload/v1691274239/food-logo_r68kim.webp"
                    class="img-fluid w-100 vh-100 hero-image"  alt="Background image containing bowl of food">
                <div class="overlay"></div>
                </div>
                <!--Text overlaying background image-->
                <div class=" start-50 translate-middle search-container" >
                    <h1>Discover Dublin's Culinary Options.</h1>
                    <h1>Start your search here!</h1>
                    <!--Search field-->
                    <!--Learnt to implement search here (https://www.makeuseof.com/add-search-functionality-to-django-apps/#:~:text=Create%20a%20View%20for%20the%20Search&text=%23%20Check%20if%20the%20request%20is%20a%20post%20request.&text=In%20request.,your%20search%20bar's%20input%20field.&text=Finally%2C%20the%20function%20renders%20a,and%20filtered%20model%20as%20context.)-->
                    <form class="d-flex" action="{% url 'search'   %}" method="GET">
                        <input class="form-control me-2" type="search" placeholder="What are you craving for?" aria-label="Search" name="query" id="query"
                        value="{{ request.GET.query }}"  pattern="^(?!\s*$)[a-zA-Z ]*$" 
                         required >
                        <button class="btn btn-outline-success main-button" id="searchbtn" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Search" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% block extra_js %}
            <!-- Customizible JS for blur effect-->
        <script src="{% static 'js/blur.js' %}"></script>
    {% endblock extra_js %}
</div>
{% endblock content %}