@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@300&display=swap');

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Open sans";
}

:root {
    --primary-color: #2C3E50;
    --light-color: #FFFFFF;
    --secondary-color: #F9BF3B;
    --bg-color: #F2F2F2;
}

.nav-colour {
    background-color: rgba(44, 62, 80, 0.7);
}
.navbar{
    position:fixed;
    width:100%;
    z-index: 4;
}


.navbar-brand {
    color: var(--light-color);
    display: flex;
    align-items: end;
    justify-content: left;
    font-size: 2rem;
    padding-bottom: 0rem;
    padding-left: 4rem;

    /* Adjust the width and height according to your image size */
    height: 3.5rem;
    background-image:url("https://res.cloudinary.com/dif9bjzee/image/upload/v1691932128/logoimage_sriezb.webp");
    background-repeat: no-repeat;
    background-size: contain;
}



.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.55);
    /* background-color: rgba(44, 62, 80, 0.6); */
    font-weight: bold;
}

.nav-link.active {
    border-bottom: 0.125rem solid var(--secondary-color);
    
    
}

.dropdown-menu {
    background-color: rgba(242, 242, 242, 0.9);
    border-left: 0.25rem solid var(--secondary-color);
}


.dropdown-item{
    color: var(--primary-color);
}
.dropdown-item:hover{
    background-color: rgba(249, 191, 59, 0.8) ;
    color: var(--light-color);
}
.dropdown-item:focus{
    color: var(--light-color);
    background-color: var(--secondary-color);
    
}

/**Footer**/
.footer {
    background-color: var(--bg-color);
    width: 100%;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
}

.socials {
    margin-bottom: 0;
}

.socials i {
    color: var(--primary-color);

}

.socials i:hover {
    color: rgba(44, 62, 80, 0.8);
}

/**Home page**/
.home-page {
    min-height: 85vh;
    overflow-x: hidden;

}

/**hero image**/
.hero-image {
    width: 100%;
    object-fit: cover;
    top: 0;
    position: relative;
    filter: blur(0.062rem);
}

.blury {
    filter: blur(0.5rem);
    transition: filter 0.3s ease-in-out;
  }


/** for buttons **/
.button-dbneats {
    color: var(--light-color);
    background-color: var(--primary-color);

    border-color: var(--light-color);
    border-radius: 1rem;
}

.button-dbneats:hover {
    color: var(--primary-color);
    background-color: var(--light-color);
    outline-color: var(--primary-colorr);
    border-color: var(--primary-color);
    border-radius: 1rem;
}

.button-dbneats:focus {
    color: var(--light-color);
    background-color: var(--primary-color);
    
    border-radius: 1rem;
    
}

/**buttons**/
.main-button {
    margin-left: 0.5rem !important;
    color: var(--primary-color) !important;
    background-color: var(--secondary-color)!important;
    border-color: var(--primary-color) !important;
    font-weight: bold;
    border-radius: 1rem;
}

.main-button:hover {
    color: var(--primary-color) !important;
    background-color: rgba(249, 191, 59, 0.8) !important;
    font-weight: bold;
    border-color: var(--primary-color) !important;
}


/** star rates **/
.checked {
    color: var(--secondary-color);
}

.rated {
    
    pointer-events: none;
}

.reviewform {
    margin-top: 5rem;
}

.bi bi-star-fill {
    color: #F2F2F2;
    border-color: #2C3E50;
}

/**Carousal controls **/
/* .carousel-control-prev,
.carousel-control-next {
    height: 80%;
    top:20%;
} */

/** rated color change **/
.user-done {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    pointer-events: none;
    border-radius: 1rem;
}

.dbneats-background {
    /* background-color: var(--bg-color); */
    background-image: url(https://res.cloudinary.com/dif9bjzee/image/upload/v1688163762/backgroud_hwsqzo.png);
    background-size: contain;
    /* Adjust the image sizing */

}

/**rating **/
.rating {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    margin: 0.5rem;

}

.rating a {

    color: var(--light-color)
}

.rating a:hover {
    color: var(--light-color)
}

/* .allreviews h1 {
    font-size: 1.5rem;
    background-color: rgba(242, 242, 242, 0.7);
} */
/**Forms**/

.form-heading {
    color: var(--primary-color);
}

.form-control {
    font-size: 0.75rem;

}

.results-heading {
    color: var(--primary-color);
    margin-top: 6rem;
    font-size: 1.5rem;
    background-color: rgba(242, 242, 242, 0.7);
}


.dublineat-links {
    color: var(--primary-color);
}

.dublineat-links:hover {
    color: var(--secondary-color);
}
.forms {
    padding: 0.5rem;
}

.login-forms {
    margin: 5rem;
}

/*pinn css*/

.pinned {
    color: #E74c3c;

}

.pinned:hover {
    color: rgba(231, 76, 60, 0.5);
}

.to-visit {
    color: rgba(44, 62, 80, 0.6);
}

.to-visit:hover {
    color: #E74c3c;
}

.card-heading {
    color: var(--primary-color);
    height: 3rem;
}

/**Pagination buttons **/

.page-item:not(.active) .page-link {
    color: var(--primary-color);
    background-color: var(--light-color);
    border-color: var(--light-color);
}

/* Active page link */
.page-item.active .page-link {
    color: var(--light-color);
    background-color: var(--secondary-color);
    border-color: var(--light-color);
}

/** Remove button **/

.remove-button {
    color: var(--light-color);
    background-color: #E74c3c;
    border-color: var(--light-color);
    border-radius: 1rem;
}

.remove-button:hover {
    color: #E74c3c !important;
    background-color: var(--light-color);
    outline-color: #E74c3c;
    border-color: #E74c3c;
    border-radius: 1rem;

}

.message-alert {
    z-index: 5;
    position: absolute;
    top: 15%;
    width: 80%;
    
    
    border: 2px solid var(--light-color);
    left: 50%; 
    transform: translateX(-50%); 
    color:var(--primary-color);
    font-weight: bold;
    

}

.logo-image {
   width:1.5rem;
   height:1.5rem;
    
    
}
.auth-image {
   width:3rem;
   height:3rem;
}
.disabled-btn {
    opacity: 0.6;
    pointer-events: none;
    background-color: var(--primary-color);
    color: var(--light-color);
    border-radius: 1rem;
    border-color: var(--light-color);
}

.search-container {
    z-index: 3;
    color: var(--light-color);
    min-width: 70%;
    position:fixed;
    top:45%;
}
.search-container p {
    font-size: 1.75rem;
    font-weight:bold;
    text-shadow: 0.25rem 0.25rem 0.5rem rgb(44, 62, 80);
    margin-bottom: 0rem;
}

.profile-container {
    padding:5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.profile-name {
    position:absolute;
    z-index:3;
}

.profile-form {
    margin-top: 5rem;
}

/**images **/
.restaurant-images {
    object-fit: cover;
    height:17.5rem;
    width:100%;
}

@media screen and (min-width: 576px) {

    .navbar-dark .navbar-nav .nav-link {
        
        background-color:transparent;
        font-weight: normal;
    }

    .allreviews h1 {
        font-size: 2rem;
        
    }

    .form-control {
        font-size: 1rem;
    
    }
}

@media screen and (min-width: 768px) {

    .allreviews h1 {
        font-size: 2.5rem;
        
    }
    .search-container {
        min-width: 40%;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: rgba(255,255,255,.55);
        /* background-color: rgba(44, 62, 80, 0.6); */
        font-weight: bold;
    }

}

@media screen and (min-width: 1024px) {
    .goup-btn {
        display:none;
    }

    .search-container p {
        font-size: 2.5rem;
        font-weight:bolder;
        
    }

}