@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@300&display=swap');

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Open sans";
}

:root {
    --primary-color: #2C3E50;
    --light-color: #FFFFFF;
    --secondary-color: #F9BF3B;
    --bg-color: #F2F2F2;
}
