{% extends "base.html" %}

{% block content %}
<section class="d-flex justify-content-center align-items-center dbneats-background min-vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" card shadow bg-body-tertiary rounded col-lg-5 col-md-7 login-forms p-5 bg-light text-center">
                <h3 class="form-heading">You have been logged out</h3>
                <a class="dublineat-links" href="{% url 'userlogin' %}">Log In Again</a></p>

            </div>
        </div>
    </div>
</section>
{% endblock content %}